{% extends "base.html" %}
 

  {% block content %}
 
 
<div class="row">
     
{% include "errormessage.html"%}

    <h2>Register</h2>
 
  	<form  id="registerform" name="registerform"  method="post" action="/register" novalidate>
  <div class="form-group">
    <label for="first_name">First name</label>
    <input type="text" class="form-control" id="first_name" name="first_name"
     placeholder="first name">
  </div>

    <div class="form-group">
    <label for="last_name">Last name</label>
    <input type="text" class="form-control" id="last_name" name="last_name"
     placeholder="last name">
  </div>

  

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email"
     placeholder="Email">
  </div>

   <div class="form-group">
    <label for="verify_email">Verify Email address</label>
    <input type="email" class="form-control" id="verify_email" 
    name="verify_email" placeholder="Email repeat">
  </div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" 
    name="password" placeholder="Password">
  </div>
   <div class="form-group">
    <label for="verify_password">Verify Password</label>
    <input type="password" class="form-control" id="verify_password" name="verify_password"
     placeholder="Verify Password">
  </div>

  
  <button type="submit" class="btn btn-success">Register</button>
</form>
</div>
 <div class="row">
  <div class="col-md-12 footer-background">
    footer
  </div>
  {% endblock%}

{%block bottomjs%}
<script>
  // $(document).ready(function(){
  //   $("#registerform").validate({
  //     rules{
  //     verify_email:{
  //       required:true,
  //       email:true,
  //       equalTo:"#email"
  //     },
  //     verify_password:{
  //       required:true,
  //       equalTo:"#password"
  //     }
  //   }
  //   });
  // });
</script>
{% endblock%}